body{
    margin: 0;
}
.menu-box{
    position: relative;
    width: 100px;
    height: 100p;
}
.menu-link{
    background-color: gray;
    text-decoration: none;
    cursor: pointer;
    display: block;
    padding: 100px 20px;
    writing-mode: vertical-lr;
    color: aliceblue;
    font-size: 20px;
    text-transform: uppercase;
}
.submenu{
    list-style: none;
    margin: 0;
    padding: 10px;
    background-color: gray;
    position: absolute;
    top: 0;
    height: 94%;
    transform: translateX(-100%);
    transition: transform 500ms ease;
}
.side-link{
    margin-bottom:10px;
}
.text{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}
.menu-box:hover .submenu{
    transform: translateX(0);
}
.text:hover{
    transition: color 250ms ease;
    color: burlywood;
}